.heading {
  text-align: center;
  margin: 20px 0;
}

.count {
  text-align: center;
  font-size: 32px;
}

.buttons {
  margin: 20px auto;
  width: 90%;
  gap: 10px;
  max-width: 600px;
  display: flex;
  justify-content: center;
}

.buttons button {
  width: 40px;
  font-size: 24px;
  cursor: pointer;
}
.inputWrapper {
  margin: 50px auto 20px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputWrapper input {
  padding: 10px;
  border-radius: 10px;
  border: 2px solid;
  font-size: 18px;
  margin-bottom: 20px;
}

.inputWrapper p {
  font-size: 18px;
}
